.typing{
    display:inline-block;
    font-family: monospace;
    border-right:5px solid coral;
    white-space: nowrap;  
    overflow:hidden;
    animation:typing 3s steps(22,end),blink-caret .75s step-end infinite ;
}
@keyframes typing{
    from{width:0}
    to{width:22ch}
}
@keyframes blink-caret {
    50%{border-color: transparent;}
}

.box{
   width: 100px;
   height: 100px; 
   color:black;
   border:2px solid grey;
   border-radius: 10px;
}
.flip{
    background-color: lightgreen;
    animation:flip 2s ease-in-out infinite
}
@keyframes flip{
    0%{transform:rotateY(0deg)}
    50%{transform:rotateY(180deg)}
    100%{transform:rotateY(360deg)}
}