body{
    margin:50px;
    background-color: lightblue;
}

.styled-table{
width:100%;
height:250px;
border-collapse: collapse;

box-shadow:2px 2px 10px black;

}

.styled-table th{
    background-color: blue;
    color:white
}

#styled-form{
    background-color: aliceblue;
    box-shadow:5px 5px 10px green
}